* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Playfair Display", serif;
}
h1::selection,
h2::selection,
p::selection {
  background-color: White;
  color: black;
}

body {
  background-color: rgb(17, 17, 17);
}

h2 {
  text-align: center;
  color: white;
}
hr {
  width: 50%;
  margin: auto;
  color: white;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.muka-heading h1 {
  text-align: center;
  margin: 30px;
  color: white;
}

.muka-heading p {
  text-align: center;
  color: white;
}
.Socials h1 {
  text-align: center;
  margin: 30px;
  color: white;
}

/* prjects */

.Projects h1 {
  text-align: center;
  margin: 30px;
  color: white;
}
